
## User settings
xcuserdata/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm
.build/

*.xcworkspace

# Accio dependency management
Dependencies/
.accio/

# Code Injection
iOSInjectionProject/

# Firebase and Config files
*config.plist
